<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="input-group">
    <%= f.label t('book.title'), class:'input-group-addon' %>
    <%= f.text_field :title, class: "form-control", placeholder: "Tittle of the book" %>
  </div>

  <br>

  <div class="input-group">
    <%= f.label t('book.author'), class:'input-group-addon' %>
    <%= f.text_field :author, class: "form-control", placeholder: "Author" %>
  </div>

  <br>

  <div class="input-group">
    <%= f.label t('book.description'), class:'input-group-addon' %>
    <%= f.text_area :description, class: "form-control", placeholder: "a brief description of the book" %>
  </div>

  <br>

  <div class="pull-right">
    <%= link_to 'Back', books_path, class: 'btn btn-default' %>
    <%= f.submit t(:save) ,class: 'btn btn-success' %>

  </div>
<% end %>
