<div class="container">


<p id="notice"><%= notice %></p>

  <div class='page-header'>
     <h1>Listing Books</h1>
  </div>

<div class="container form-horizontal row">


      <%= link_to 'New Book', new_book_path , class: 'btn btn-primary', style: 'margin-top : 20px'%>

      <%= form_tag (books_path), id: 'formsearch', class: "navbar-form navbar-left pull-right", method: 'get' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control' , id: 'q' %>
          <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
      <% end %>

    <br>
    <br>
    <br>

</div>

  <div id="books">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <%= render 'index' %>
      </div>
    </div>
  </div>

  <br>

  <p align = 'right'><%= @number_book%></p>

</div>
